@tailwind base;
@tailwind components;
@tailwind utilities;


/* Styles pour la carte */
.perspective-1000 {
  perspective: 1000px; /* Perspective pour l'effet 3D */
}

.card {
  width: 20rem;
  height: 30rem;
  position: relative;
  transform-style: preserve-3d; /* Nécessaire pour la rotation 3D */
  transition: transform 0.5s; /* Transition pour l'effet de retournement */
}

/* Face avant et arrière */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Cache la face arrière lorsqu'elle est vue de l'avant */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Face avant */
.card-front {
  z-index: 2;
}

/* Face arrière */
.card-back {
  transform: rotateY(180deg); /* Rotation pour le verso */
  z-index: 1;
}

/* Rotation de la carte */
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Define card background colors based on the element group */
.card-bg-alkali {
  background-color: #fef2f2; /* Red-200 */
}

.card-bg-alkaline-earth {
  background-color: #fef3c7; /* Orange-200 */
}

.card-bg-transition {
  background-color: #fef9c3; /* Yellow-200 */
}

.card-bg-post-transition {
  background-color: #d1fae5; /* Green-200 */
}

.card-bg-metalloids {
  background-color: #bfdbfe; /* Blue-200 */
}

.card-bg-nonmetal {
  background-color: #e0e7ff; /* Indigo-200 */
}

.card-bg-halogen {
  background-color: #e9d5ff; /* Purple-200 */
}

.card-bg-noble-gas {
  background-color: #fbcfe8; /* Pink-200 */
}

.card-bg-lanthanide {
  background-color: #e5e7eb; /* Gray-200 */
}

.card-bg-actinide {
  background-color: #ccfbf1; /* Teal-200 */
}

.card-bg-unknown {
  background-color: #e5e7e9; /* Gray-300 */
}
